{
    "line_spacing": "1.0", 
    "header_font_size": "16", 
    "letter_spacing": "0", 
    "page_padding_bottom": "0", 
    "paragraph_spacing": "2.6", 
    "header_font_color": "#111111", 
    "movie_card_font_color": "#333333", 
    "text_indent": "0", 
    "movie_card_title_color": "#ca4c4c", 
    "movie_card_border_color": "", 
    "page_padding_right": "10", 
    "movie_block_title_color": "#111111", 
    "page_padding_top": "0", 
    "content_padding": "10", 
    "line_height": "2.1", 
    "strong_font_bold": false, 
    "movie_block_title_border_color": "#111111", 
    "page_padding_left": "10", 
    "image_content_padding": "", 
    "font_size": "14", 
    "movie_card_subtitle_color": "#888888", 
    "strong_font_color": "#6c1f88", 
    "movie_card_background": "#eeeeee", 
    "random_button": null, 
    "font_color": "#555555", 
    "apply_button": null, 
    "movie_block_subtitle_color": "#ca4c4c"
}