{
    "text_indent": "0", 
    "blockquote_font_color": "#373737", 
    "strong_font_bold": false, 
    "font_size": "14", 
    "font_color": "#454545", 
    "line_spacing": "1.6", 
    "random_button": null, 
    "strong_font_color": "#1aa2c0", 
    "header_font_size": "16", 
    "letter_spacing": "0", 
    "blockquote_font_size": "18", 
    "page_padding_right": "10", 
    "page_padding_left": "10", 
    "page_padding_top": "0", 
    "page_padding_bottom": "0", 
    "paragraph_spacing": "4.2", 
    "image_content_padding": "", 
    "line_height": "2.1", 
    "header_font_color": "#111111", 
    "content_padding": "", 
    "apply_button": null
}