{
    "line_spacing": "1.0", 
    "header_font_size": "15", 
    "letter_spacing": "0", 
    "blockquote_background_color": "", 
    "page_padding_bottom": "0", 
    "paragraph_spacing": "2.6", 
    "header_font_color": "#a6156c", 
    "text_indent": "0", 
    "blockquote_font_size": "14", 
    "index_characters": "123456789", 
    "page_padding_right": "10", 
    "page_padding_top": "0", 
    "content_padding": "", 
    "line_height": "2.1", 
    "strong_font_bold": false, 
    "blockquote_border_color": "#454545", 
    "page_padding_left": "10", 
    "image_content_padding": "", 
    "blockquote_font_color": "#454545", 
    "font_size": "14", 
    "random_button": null, 
    "strong_font_color": "#b421be", 
    "font_color": "#454545", 
    "apply_button": null, 
    "index_font_color": "#333333", 
    "index_font_size": "17"
}