body {
    background: #fefefe;
    font-family:Optima-Regular, PingFangSC-light, PingFangTC-light, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei UI", "Microsoft YaHei", Arial, sans-serif;
}

.wechat_body {
    padding: 0px 10px 0px 10px;
}

.md_line, .md_block_section_for_h {
    padding-left:0px;
    padding-right:0px
}

.md_line_with_image {
    padding-left:0px;
    padding-right:0px
}

.h16 {
    color: #a6156c;
    font-size: 15px;
    margin-top: 2em;
    font-weight: bold;
}

.h16 .span_for_h {
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family:inherit;
}

img {
    max-width: 100%
}

p.md_block {
    margin-bottom: 2.6em;
}

p.last_md_block_in_page {
    margin-bottom:0
}

blockquote {
    margin-left:0;
    margin-right:0
}

blockquote p.md_block {
    margin:0.8em 0 !important;
}

p.md_block.md_block_as_opening {
    margin-bottom:-0.5em;
}

li p.md_block {
    margin:0;
}

span.md_line, blockquote span.md_line {
    margin:0.5em 0 !important;
}

li span.md_line {
    margin: 0 !important;
}

span.md_line, blockquote span.md_line, body {
    line-height: 2.1
}

body, .wechat_body, span.md_line {
    color:#454545;
}

blockquote, blockquote span.md_line {
    color:#454545;
    font-size:14px
}

blockquote {
    border-left:1px solid #454545 !important;
    border-right:1px solid #454545 !important;
    border-top:1px solid #454545 !important;
    border-bottom:1px solid #454545 !important;
    padding: 5px 20px;
}

b, strong {
    color:#b421be;
}

b, strong {
    font-weight:normal
}

body, .wechat_body, span.md_line {
    letter-spacing:0;
}

body, .wechat_body, span.md_line {
    font-size:14px;
}

span.md_line {
    text-indent:0;
    margin-bottom:0.5em;
    display:block;
}

.md_line br {
    display: none;
}

.md_block_section_for_ul>ul, .md_block_section_for_ol>ol {
    padding-left:1.5em;
}

ul li {
    list-style:disc
}

body, .wechat_body, span.md_line {
    text-align:justify
}

span.next_img_before.next_only_img_before.next_md_line_end {
    margin-top:30px;
}

span.img_before.only_img_before.md_line_end {
    font-size:80%;
    color:#777777;
    text-align:center;
    margin-top: -5px !important;
    margin-bottom:30px
}

pre {
    white-space: pre-wrap;
}
    

    .header_for_h2{
        margin-top: 6em;
    }
    .header_for_h2 h2{
        text-align: center;
        line-height: 1.5;
        margin: 3em 0 1.5em 0 ;
        padding: 0;
        font-size: 15px;
    }
    .header_position{
        text-align: center;
        height: 30px;
        line-height: 30px;
    }
    .header_position .position{
        background: #fefefe;
        color: #333333;
        display: inline;
        text-align: center;
        font-size: 17px;
        padding: 0 20px;
        font-family: -apple-system-font, BlinkMacSystemFont, Arial, sans-serif;
    }
    .header_bar_bg{
        border-bottom: 1px solid #333333;
        display: block;
        margin-top: -15px;
        width: 30%;
        margin-left: auto;
        margin-right: auto;
    }